.article {
    max-width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.article__header {
    color: white;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 10px;
}

.arcticle__paragraph {
    color: coral;
}

.article__paragraph__highlighted {
    color:rgb(160, 116, 60);
}

.article__element {
    color: white;
    background-color: rgb(207, 175, 95);
    border: none;
    border-radius: 10px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}